@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <label asp-for="inPick.name"></label>
        <input asp-for="inPick.name"/> <br />
        <span asp-validation-for="inPick.name" class="text-danger"></span>
        <label asp-for="inPick.date"></label>
        <input asp-for="inPick.date"/> <br />
        <button type="submit">Zatwierdz</button>
        <span asp-validation-for="inPick.date" class="text-danger"></span>
    </form>
</div>
