@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <label asp-for="userData.name"></label> <br />
        <input class="nameIn" asp-for="userData.name"/> <br />
        <span asp-validation-for="userData.name" class="text-danger"></span>
        <label asp-for="userData.date"></label> <br />
        <input class="dateIn" asp-for="userData.date"/> <br />
        <button type="submit">Zatwierdz</button>
        <span asp-validation-for="userData.date" class="text-danger"></span>
        <hr/>
        @if (Model.isValidated)
        {
            <h6>@Model.userData.name urodził się w @Model.userData.date roku. To @Model.userData.IsLeapYear() był rok przestępny</h6>
        }
    </form>
</div>
